@import "tailwindcss";

/* :root {
--background: #F1EEE8;
--primary: #4F6E8A; 
--secondary: #868DC1; 
--accent: #926D8F; 
--dark: #031352;
--text: #241D31;
} */

:root {
--background: #F1EEE8;
--main: #626b8e;
--primary: #ffd300; 
--secondary: #009cd8; 
--accent: #ce0060; 
--dark: #031352;
--text: #241D31;
}


@theme {
  --color-background: var(--background);
  --color-main: var(--main);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-dark: var(--dark);
  --color-text: var(--text);
}


/* @media (prefers-color-scheme: dark) {
  :root {
--background:  #241D31;
--primary: #1e293b;
--secondary: #161d3a;
--accent: #4F6E8A;
--dark: #031352;
--text: #94a3b8;
  }
} */

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--text);
  box-sizing: border-box;
  background: var(--background);
  margin: 0;
  height: 100vh;
}