@import "tailwindcss";

:root {
--background: #e2e8f0;
--primary:  #acc8e8;
--secondary: #879fcc;
--neutral: #94a3b8;
--dark: #1e293b; 
--accent: #7d84b7;
--text: #0f172a;
}

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-neutral: var(--neutral);
  --color-dark: var(--darkbg);
  --color-accent: var(--accent);
  --color-text: var(--text)
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--text);
  box-sizing: border-box;
  background: var(--background);
  margin: 0;
  height: 100vh;
}