@import "tailwindcss";

:root {
--background: #F1EEE8;
--primary: #acc8e8;
--secondary: #241D31;
--accent: #7BDAF1;
}

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}


/* @media (prefers-color-scheme: dark) {
  :root {
--background: #241D31;
--primary:  #241D31;
--secondary: #2886E1;
--accent-light: #7BDAF1;
--accent-dark: #243E92;
--text: #241D31;

    --primary: #241D31;
    --secondary: #243E92;
    --background: #;
    --text: #94a3b8;
  }
} */

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--secondary);
  box-sizing: border-box;
  background: var(--background);
  margin: 0;
  height: 100vh;
}