.gear {
  position: relative;
  border-radius: 50%;
  background: var(--gear-colour);
}

.gear span {
  display: block;
  position: absolute;
  left: 50%;
  border-radius: 5px;
  transform-origin: bottom;
  clip-path: polygon(40% 0%, 60% 0%, 100% 100%, 0% 100%);
  background: linear-gradient(
    to top,
    transparent 70%,
    var(--gear-colour) 30%
  );
}

.gear--logo {
  width: 32vh;
  height: 32vh;
}

.gear--logo span {
  height: 17vh;
  width: 6.5vh;
  top: -1vh;
  transform: translateX(-50%)
    rotate(calc(var(--i) * 10deg)); /* 360 / 36 */
}


.gear--big {
  width: 32vh;
  height: 32vh;
  rotate: 30deg;
}

.gear--big span {
  height: 18vh;
  width: 12vh;
  top: -2vh;
  transform: translateX(-50%)
    rotate(calc(var(--i) * 20deg)); /* 360 / 18 */
}

.gear--mechanism {
  width: 15vh;
  height: 15vh;
}

.gear--mechanism span {
  height: 9.25vh;
  width: 9vh;
    top: -1.75vh;
  transform: translateX(-50%)
    rotate(calc(var(--i) * 45deg)); /* 360 / 8 */
}

.gear--small {
  width: 12.5vh;
  height: 12.5vh;
}

.gear--small span {
  height: 7vh;
  width: 5vh;
  top: -0.75vh;
  transform: translateX(-50%)
    rotate(calc(var(--i) * 20deg)); /* 360 / 18 */

}

.active {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.gear--small:hover {
  animation: spin 5s linear infinite;
}

