.mechanismWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:
    translate(-50%, -50%)
    rotate(var(--angle))
    translate(29.5vmin);
  filter:
    drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2));
  z-index: 1;
}

.mechanismText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(calc(-1 * var(--angle)));
  text-align: center;
  font-size: 1em;
  line-height: 1.1;  
  width: 100%;
  z-index: 2;
}


